<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="ISO-8859-1">
    <title>FPT E-Resources | 404</title>
    <link rel="shortcut icon" href="/images/fptUniversityLogoIcon.png" type="image/x-icon">
    <link rel="stylesheet" th:href="@{/css/base.css}"/>
</head>
<body>
<div>
    <div style="display: flex; justify-content: center; margin-top: 6rem">
        <img src="/images/errors/404.svg" style="width:50%" alt="404">
    </div>
    <div style="display: flex; justify-content: center; margin-top: 4rem">
        <h3 class="d-none" th:text="${errorMessage}"></h3>
    </div>
    <div style="display: flex; justify-content: center; margin-top: 4rem">
        <a class="btn btn--back" href="javascript:void(0);" onclick="history.go(-1);">Back</a>
    </div>
</div>
</body>
</html>